{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: quote-app-network-policy
  namespace: {{ .Release.Namespace | default .Values.namespace.name }}
  labels:
    {{- include "quote-app.labels" . | nindent 4 }}
  annotations:
    {{- include "quote-app.annotations" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "quote-app.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: ingress-nginx
    ports:
    - protocol: TCP
      port: 8080
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          k8s-app: kube-dns
    ports:
    - protocol: UDP
      port: 53
    - protocol: TCP
      port: 53
  - to:
    - ipBlock:
        cidr: {{ .Values.networkPolicy.sqlServerCIDR }}
    ports:
    - protocol: TCP
      port: 1433
  - to:
    - ipBlock:
        cidr: {{ .Values.networkPolicy.acrCIDR }}
    ports:
    - protocol: TCP
      port: 443
{{- end }}
