name: Debug Terraform (OIDC)

on:
  push:
    branches:
      - main
    paths:
      - "Infra/terraform/**"
  workflow_dispatch: {}

permissions:
  contents: read
  id-token: write

jobs:
  debug:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Infra/terraform

    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_USE_OIDC: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan
